body { background-color: pink;
}
h3 {
  color: #blue;
  font-size: 24px;
}
.Britney{

    font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}
img{
  width: 150px;}


