body { background-color: pink;
}
h1 {
 .cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

  text-align: center;
}
h3 {
  color: #blue;
  font-size: 24px;
  text-align: center;
}
.Britney{

    font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}
img{
  width: 150px;}
img{
  width: 150px;}
img{
  width: 150px;}
p{
text-align: center;
   color: #000000
}

li a:link {color: black;}
li a:visted {color: purple;}
li a:hover {background-color: pink;}
li a:active {font-size: 1.5;}
